@model TipoCuenta

@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear Tipo de Cuenta</h1>
<h5>El tipo de cuenta se refiere a cómo se pueden agrupar cuentas.
    Ej: Préstamos, tarjetas de crédito, etc.
</h5>